src/TwoAppsTwoConnectorsSameInterface/unpacked-solution/CanvasApps/dkdt_canvascallinggithub_3efc9_DocumentUri_msapp/pkgs/Wadl/AlmCustomConnector.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/dkdt-5fgithubcustomconnectortest-5f49fcd9bb6b3da2fb" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Defaulttitle" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Default title"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/dkdt-5fgithubcustomconnectortest-5f49fcd9bb6b3da2fb" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ListOrganizations_responses_default_def_items_def_name_def" />
      <object name="ListOrganizations_responses_default_def_items_def">
        <property name="name" type="string" />
      </object>
      <array typeRef="ListOrganizations_responses_default_def_items_def" name="ListOrganizations_responses_default_def" />
      <string name="ListRepos_responses_default_def_items_def_name_def" />
      <object name="ListRepos_responses_default_def_items_def">
        <property name="name" type="string" />
      </object>
      <array typeRef="ListRepos_responses_default_def_items_def" name="ListRepos_responses_default_def" />
      <string name="ListProjects_responses_default_def_items_def_name_def" />
      <object name="ListProjects_responses_default_def_items_def">
        <property name="name" type="string" />
      </object>
      <array typeRef="ListProjects_responses_default_def_items_def" name="ListProjects_responses_default_def" />
      <string name="GetConnectorInfo_responses_default_def_name_def" />
      <object name="GetConnectorInfo_responses_default_def">
        <property name="name" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/dkdt-5fgithubcustomconnectortest-5f49fcd9bb6b3da2fb">
    <resource path="/{connectionId}/user/orgs">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListOrganizations" siena:isDeprecated="false">
        <doc title="ListOrganizations&#xA;ListOrganizations" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListOrganizations_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/orgs/{organization}/repos">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="organization" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListRepos" siena:isDeprecated="false">
        <doc title="ListRepos&#xA;ListRepos" />
        <request>
          <param style="header" name="project" type="xs:string" required="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ListRepos_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/{organization}/fake">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="organization" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListProjects" siena:isDeprecated="false">
        <doc title="ListProjects&#xA;ListProjects" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:ListProjects_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/fake">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetConnectorInfo" siena:isDeprecated="false">
        <doc title="GetConnectorInfo&#xA;GetConnectorInfo" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GetConnectorInfo_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_dkdt-5fgithubcustomconnectortest-5f49fcd9bb6b3da2fb" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>